@media(max-width: 1450px){
    .stock-slider__item-img--big img,
    .offer-slider__item--big img{
        width: 33rem;
        height: 36rem;
        object-fit: cover;
        border-radius: 2rem;
    }
    .menu__list{
        padding-left: 0;
    }
    .menu__list-item+.menu__list-item{
        margin-left: 1rem;
    }


    .stock-slider__item-title,
    .offer-slider__item-title{
        width: 30rem;
        font-size: 15px;
    }
    .offer-slider__item-title::before,
    .stock-slider__item-title::before{
        display: none;
    }
    .map{
        width: 60rem;
    }
    .contact-block__info{
        margin-left: 2rem;
    }
}



@media(max-width: 1360px){
    .story-block__item-title,
    .story-block__item-text{
        width: 55rem;
    }
    .employees-slider__item{
        width: 30rem;
        margin-left: auto;
        margin-right: auto;
    }
    .about-block__text{
        max-width: 60rem;
    }
    .about-block{
        justify-content: space-between;
    }
    .map{
        width: 55rem;
    }
    .footer__menu-item + .footer__menu-item{
        margin-left: 1rem;
    }
    .header-top__phone{
        margin-left: 1.5rem;
        width: 14rem;
        font-size: 16px;
    }
    .header-top__btn{
        margin-left: 2rem;
    }
    .logo{
        margin-left: 1.5rem;
    }
    .header-top__phone::before{
        left: -8px;
    }
    .menu__list{
        margin-left: 1rem;
    }
   
}


@media(max-width: 1150px){
    .advantages-block{
        display: -webkit-box;
        overflow-x: auto;
        overflow-y: hidden;
    }
    .advantages-block__item{
        max-width: 33rem;
        width: 100%;
    }
    .stock-slider__item-img img,
    .offer-slider__item-img img{
        margin-left: auto;
        margin-right: auto;
    }
    .stock-slider__item-title,
    .offer-slider__item-title{
        margin-left: auto;
        margin-right: auto;
    }
    .stock-slider__item-img img,
    .offer-slider__item--big img
    .stock-slider__item-img--big img,
    .offer-slider__item-img img{
        width: 30rem;
        height: 32rem;
    }

    .about-block{
        flex-direction: column;
        align-items: center;
    }
  
    .about-tabs__item-btn{
        width: 12rem;
        font-size: 14px;
    }
    .contact-block{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact-block__info{
        margin-left: 0;
    }
    .contact-block__info-title,
    .contact-block__info-subtitle{
        display: none;
    }
    .contact-block__info-title--mobile,
    .contact-block__info-subtitle--mobile{
        display:block;
        margin-bottom: 1rem;
    }
    .contact-block__button{
        flex-direction: column;
        row-gap: 2rem;
        align-items: center;
    }
    .footer__menu{
        display: block;
    }
    .footer__menu-item + .footer__menu-item{
        margin-left: 0;
    }
    .footer__menu-item{
        margin-bottom: 2rem;
    }
    .home__link::after {
        right: -40px;
    }
    .header-form__select{
        margin-left: 1.7rem;
    }
    .header-form__select{
        background-position-x: 13rem;
    }
    .header-form__select{
        width: 15rem;
    }
    .header-form__input{
        width: 20rem;
    }
    .header__inner{
        display: none;
    }
    .header__inner.mobile{
        display: block;
    }
   
}

@media(max-width: 1050px){
    .menu__list{
        display: none;
    }
    .menu-mobile-icon{
        display: block;
    }
    .header-top{
        justify-content: center;
    }
    
}



@media(max-width: 968px){
    html{
        font-size: 9px;
    }
    .vacancies-box{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .vacancies-box__item-input {
        text-align: center;
    }
    .about-tabs__item{
        column-gap: 1rem;
    }
    .about-tabs__item-btn{
        padding: 1rem 1rem;
    }
    .requisites-block__item-desc{
        margin-left: 1rem;
    }
    .header-block{
        display: none;
    }
    .header{
        min-height: auto;
    }
    .header-top__phone{
        width: 17rem;
    }
    .header-top{
        column-gap: 1rem;
    }
}



@media(max-width: 780px){
    .footer-center{
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
    }
    .about-tabs{
        overflow: hidden;
    }
    .reviews-block__inner{
        flex-direction: column;
        margin-left: 1rem;
    }
    .reviews-block__item,
    .reviews-block__rate{
        margin-left: 0;
    }
    
    
   
}

@media(max-width: 650px){
    .stock-slider__item-title,
    .offer-slider__item-title{
        transform: translateY(-9rem);
        width: 24rem;
    }
    .about-tabs__item{
        padding-bottom: 2rem;
        column-gap: .7rem;
        overflow-x: auto;
    }

   
}

@media(max-width: 550px){
    html{
        font-size: 8px;
    }
    .header-top__btn{
        display: none;
    }
    .user{
        display: block;
    }
    .header-top__phone {
        width: 18rem;
    }
    .header__title{
        padding-top: 10rem;
        margin-left: 0;
        font-size: 40px;
    }
    .header__subtitle{
        margin-left: 0;
        font-size: 16px;
    }
    .advantages-block__item{
        max-width: 25rem;
    }
    .advantages__title,
    .stock-box__title,
    .offer-box__title,
    .confidence-box__title,
    .employees-box__title,
    .about-box__title,
    .contact-block__info-title--mobile{
        font-size: 24px;
        position: relative;
        width: 100%;
    }
    .advantages__subtitle{
        font-size: 18px;
    }
    .advantages__text,
    .about-block__text{
        font-size: 16px;
        text-align: center;
    }
    .stock-box__subtitle,
    .offer-box__subtitle,
    .confidence-box__subtitle,
    .employees-box__subtitle,
    .about__subtitle,
    .contact-block__info-subtitle--mobile{
        font-size: 16px;
    }
    .stock-box__link,
    .offer-box__link,
    .confidence-box__link,
    .employees-box__link,
    .about-box__link{
        display: none;
    }
    .stock .slick-dots{
        transform: translateY(-7rem);
    }
    
    .stock-box__title::after,
    .offer-box__title::after,
    .confidence-box__title::after,
    .employees-box__title::after{
        position: absolute;
        content: '';
        width: 3rem;
        height: 3rem;
        background: url('../images/icon/arrows-link.svg') no-repeat;
        top: 8px;
        right: 0;
    }
    .about-box__title::after{
        display: none;
    }
    .stock-slider__item-img img,
    .offer-slider__item--big img,
    .stock-slider__item-img--big img, 
    .offer-slider__item-img img{
        width: 24rem;
        height: 27rem;
    }
    .about-slider__item{
        width: 23rem;
    }
    .about-slider .slick-dots{
        margin-top: -5rem;
    }
    .about-slider{
        margin-bottom: 5rem;
    }
    .stock{
        padding-bottom: 0;
    }
    .offer,
    .employees{
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    .confidence-slider__content-text{
        font-size: 12px;
    }
    .confidence-slider__content-title{
        font-size: 18px;
    }
    .confidence-slider__text{
        font-size: 16px;
    }
    .confidence-slider__item{
        padding: 1.5rem;
    }
    .employees-slider__item img{
       height: 29rem;
       width: 22rem;
       object-fit: cover;
       border-radius: 2rem;
    }
    .employees-slider__info{
       text-align: left;
    }
    .employees-slider__info-title{
        font-size: 14px;
        padding-left: 1rem;
    }
    .employees-slider__info-subtitle{
        font-size: 12px;
        padding-left: 1rem;
    }
    .video{
        margin-left: 0;
    }
    .map{
        width: 100%;
        height: 35rem;
    }
    .questions__title{
        font-size: 24px;
    }
    .questions-accardion__title{
        font-size: 16px;
    }
    .questions-accardion__subtitle{
        font-size: 14px;
    }
    .questions-accardion__wrapper{
        flex-direction: column;
        align-items: flex-start;
    }
    .questions-accardion__block-price{
        margin-top: 2rem;
    }
    .questions-accardion__block{
        position: relative;
    }
    .questions-accardion__block::after{
        position: absolute;
        position: absolute;
        content: "";
        width: 2rem;
        height: 2rem;
        background: url(../images/icon/arrows-select.svg) no-repeat;
        top: 0px;
        right: -15px;
    }
    .questions-accardion__block-price::after{
        display: none;
    }
    .questions__wrapper{
        padding: 1rem .5rem;
    }
    .questions{
        margin-top: 5rem;
    }
    .about-tabs__item{
        margin-bottom: 3rem;
    }
    .vacancies,
    .requisites{
        padding-bottom: 5rem;
    }
    .vacancies-block{
        padding: 1.5rem;
    }
    .vacancies-box__item-name{
        text-align: center;
    }
    .questions-accardion__text li{
        font-size: 14px;
    }
    .questions__btn {
        margin-bottom: 3rem;
    }
    .requisites-block__item-name,
    .requisites-block__item-desc{
        font-size: 16px;
    }
    .requisites-block__item-desc{
        width: 13rem;
    }
    .requisites-block{
        padding-left: 1rem;
        padding-right: 4rem;
    }
    .documentation__title{
        padding-top: 0;
        font-size: 24px;
    }
    .documentation-block__item-title{
        font-size: 18px;
    }
    .documentation-block__item-text{
        font-size: 14px;
    }
    .documentation-block{
        padding: 2rem;
        align-items: center;
    }
    .documentation{
        padding-bottom: 5rem;
    }
    .documentation-block__item{
        width: 100%;
        margin-left: 1rem;
    }
    .documentation-block__img{
        width: 12rem;
    }
    .documentation-block::after{
        display: none;
    }
    .documentation-block::after{
        right: 15px;
    }
    .reviews__title{
        display: block;
        margin-bottom: .5rem;
        font-size: 2.4rem;
        color: #333;
        font-weight: 800;
    }
    .reviews__subtitle{
        font-size: 16px;
        text-align: left;
    }
    .reviews-block__item-text{
        font-size: 12px;
    }
    
    .contact{
        padding-top: 5rem;
    }
    .contact-block__info-adrress{
        font-weight: 700;
    }
    .contact__title{
        font-size: 24px;
    }
    .contact-block__data-text,
    .contact-block__work,
    .contact-block__time{
        font-size: 16px;
    }
    .contact-block__info{
        width: 100%;
    }
    .video__link{
        width: 7rem;
        height: 7rem;
    }
    .footer__menu{
        display: none;
    }
    .footer__bottom{
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
    }
    .footer-top__inner{
        margin-left: 0;
        column-gap: 3rem;
        justify-content: center;
    }
    .footer-top{
        display: block;
    }
    .footer-center__address,
    .footer-top__phone-link{
        font-size: 14px;
        text-align: center;
    }
    .footer-top__phone-link--one::before,
    .footer-center__address-icon::before{
        left: -20px;
    }
    .about-block__text{
        text-align: left;
    }
}